<h1>welcome to the secret page</h1>
<form action="/logout" method="post">
  <input type="submit" value="logout">
</form>
  <br>
  <br>
<form action="/list" method="get">
  <input type="submit" value="Show All">
</form>
